/* resets and initial styles */

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* initial variables */

:root {
  /* initial colors */

  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;
  --textBoxBackgroundColor: rgba(251, 249, 243, 0.8);
  --textBoxOutline: #ac5a31;

  --themeDotBorder: #24292e;

  --previewBg: rgba(251, 249, 243, 0.8);
  --previewShadow: #f0ead6;

  --navDesktopTextColor: #b68973;
  --navDesktopHoverTextColor: #5c3d2e;
  --navMobileTextColor: #fff;
  --overlayColor: rgba(0, 0, 0);
  --burgerColor: black;

  --btnTextColor: white;
  --btnColor: #b37c61;
  --btnHoverColor: #ac5a31;

  --socialIconsColor: #4b5156;
  --socialIconsHoverColor: #000;

  --linkColor: rgb(0, 0, 255);

  /* font family */
  --intro-font: 'Russo One', sans-serif;
  --header-font-1: 'Josefin Sans', sans-serif;
  --header-font-2: 'Ubuntu', sans-serif;
  --primary-font: 'Roboto Mono', monospace;
  --secondary-font: 'Montserrat', sans-serif;

  /* screen sizes */

  --screen-small: 640px;
  --screen-medium: 800px;
  --screen-large: 1024px;
  --screen-xlarge: 1400px;

  /* other variables */

  --nav-height: 50px;
  --menu-burger-height: 3px;
  --preview-shadow-distance: 30px;
  --section-gap: 5rem;
}

body * {
  transition: 300ms ease-in;
}

body {
  background-color: var(--secondaryColor);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
